*{
  margin: 0;
  padding: 0;
}
.header{
  h1{
    padding-left: 20px;
    display: inline-block;
  }
  background-color: coral;
  color: azure;
  padding: 0.5rem;
  text-align: center;
}
.search-area{
  padding: 2rem;
  align-items: center;
  text-align: center;
  input{
    &:focus{
        outline: none;
    }
    background: transparent;
    width: 300px;
    border: none;
    padding: 5px;
    font-size: 20px;
    border-bottom: 2px solid purple;
  }
}